<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zaboravljena lozinka</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))</script>
    <script src="https://kit.fontawesome.com/fd13aa364a.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="icon" href="../Slike/favicon.png" />
    <link rel="stylesheet" href="~/CSS/LoginForm.css" />
</head>


<body>

    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="../Slike/umjesto_loga.jpg"
                                     alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; width:624px; height:550px;" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">

                                    <form id="form">

                                        <div class="d-flex align-items-center mb-3 pb-1">

                                            <!--     <span class="h1 fw-bold mb-0">Logo</span>-->
                                        </div>

                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Postavljanje lozinke</h5>



                                        <div class="form-outline mb-4">
                                            <i class="fa-light fa-user ikonica"></i>
                                            <input type="text" id="korisnicko_ime" class="form-control form-control-lg" />
                                            <label class="form-label" for="form2Example17">Korisničko ime</label>
                                        </div>


                                        <div class="form-outline mb-4">
                                            <i class="far fa-at ikonica"></i>
                                            <input type="email" id="email" class="form-control form-control-lg" />
                                            <label class="form-label" for="form2Example27">Email</label>
                                        </div>

                                        <div class="pt-1 mb-4">
                                            <button class="btn btn-dark btn-lg btn-block " type="button">Zatraži novu lozinku</button>
                                        </div>

                                        <a class="small text-muted" href="./Login.cshtml">Povratak na stranicu za prijavu</a>
                                        <p class="mb-5 pb-lg-2" style="color: #393f81;">
                                            Nemate račun? <a href="./Register.cshtml"
                                                             style="color: #393f81;">Registracija</a>
                                        </p>

                                        <div class="alert alert-info gumb_zaboravljena_lozinka sakri jello-horizontal" role="alert">
                                            Mail će vam biti poslan...preusmjeravanje na prijavu za par sekundi
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>var webAPIUrl = "https:" + "//" + '@System.Configuration.ConfigurationManager.AppSettings["FleetWebApiUrl"]';</script>
    <script src="~/JS/Forgotten_password.js"></script>
</body>
</html>